<h1>Admin menu</h1>

<ul>
  <li><%= link_to "Users", users_path %></li>
  <li><%= link_to "Create a new User", new_user_path %></li>  
  <li><%= link_to "add programs", "#" %></li>
  <li><%= link_to "add accounts", "#" %></li>
</ul>