<h1>Highlander time and expense reporting app</h1>
<p>This app was built by William Wilson.  For questions, problems, and
  feature requests contact williamrwilson@gmail.com</p>

<p>The app was built using Ruby on Rails and is hosted on Heroku.</p>

<p>Upon signin, regular users can enter time records and credit card expenses.</p>

<p>Coordinators can view all users and all time records</p>

<p>Administrators can add, edit and delete users, add accounts and programs, etc.  </p>

<h2>Expense Reporting</h2>

  <p>Once all credit card transactions are entered, a user can go to a Reports
    dashboard and pull up all transactions between two dates.  The transactions
    will be totalled.  At this point, there is a printable view which will hide
    buttons and other navigation elements and formats the view into a readable report</p>

<h2>Time Reporting</h2>
    <p>If a user has entered all their time, vacation and sick time will be
      calculated for easy reporting.  At the time of this writing (November 18,
      2015) the calculations go to the end of the current month, which adds a
      full months worth of accrual to the total.</p>

      <p>If a user has not entered their time up to date, vacation calculations
        will not be completed.</p>
