<h1>Highlander time and expense reporting app</h1>
<p>This app was built by William Wilson.  For questions, problems, and
  feature requests contact williamrwilson@gmail.com</p>

<p>The app was built using Ruby on Rails and is hosted on Heroku.  Repo is at
  <a href="https://github.com/William-R-Wilson/reporting-new">https://github.com/William-R-Wilson/reporting-new</a></p>
