// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_line_even { 
  background-color: #E6F2FF;
}

.list_line_odd {
  background-color: #FFFFFF;
}

.entry {
  width: 150px;
}

.amount {
  width: 50px;
}

.paginate {
  float: right;
}

#list_container {
  max-width: 1200px
}

.amounts {
  float: right;
  margin-top: 20px;
}

.enter_transactions li {
  display: inline-block;
}

@media print {
  td {
    border:  1px solid black;
  }
  list_line_even {
    background-color: #FFFFFF;
  }
}

