// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entry {
  width: 150px;
}

.amount {
  width: 50px;
}

.pagination {
  text-align: left;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #FFA575; }
  .pagination a {
    color: #7FBBFE;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      background: #0063dc;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }

  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

#page {
  display: none;
}

#list_container {
  max-width: 1200px
}

.amounts {
  float: right;
  margin-top: 20px;
}

.enter_transactions li {
  display: inline-block;
}

@media print {
  td {
    border:  1px solid black;
  }
  list_line_even {
    background-color: #FFFFFF;
  }
  .pagination .previous_page {
    display: none; }
  .pagination .next_page {
    display: none; }
  .pagination .page_info {
    display: none; }
  .pagination .current {
    color: #000000; }  
  #page {
    font-weight: bold;
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  .entry {
    width: 100%;
  }
  .amount {
    width: 50%;
  }
}