<div><%= link_to 'New Transaction', new_transaction_path,
        remote: true, class: "nav_button", title: "Add a new credit card transaction" %></div>


<div id="transaction-form" style="display:none;"></div>

<h1>All transactions</h1>

<div id="transactions-list"><%= render "list" %></div>
<div><%= link_to "Export all transactions to CSV", "/transactions/csv_export.csv" %></div>
