<% stylesheet_link_tag('default', :media => :screen) %>
<% stylesheet_link_tag('print', :media => :print) %>


<div class = "container">
  <h1>Report dashboard</h1>
  <%= render "list" %>
  
  <strong>Total of all Transactions:  <%= number_to_currency(@total.sum) %></strong>
  <span class = "approval"><strong>Approved by:_______________________________</strong></span>
  <div class="page-break"></div>
  <div><%= link_to "Print this page", "#", onclick: "printpage()" %></div>

</div>



